$highlight: #750000;
$text: #EBEBEB;
$lightText: #848E8D;
$bg: #222126;
$lightBg: #223B3D;
$white: #F6F6F6;
$highlight1: #f7a804;
$highlight2: #e9560e;

html, 
body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    // background: $bg;
    font-family: 'Nunito', sans-serif;
    // color: white;
    // height: 100vh;
    padding: 0;
    margin: 0;
    width: 100vw;
    overflow: hidden;
    position: fixed;

    .page__background {
    	// background: $bg;
    }

    .page {
        font-family: 'Open Sans Condensed', sans-serif;
    }

    .page__content {
    	margin-top: 0;
        // color: white;
    }
}

h1, h2, h3 {
    // color: white;
    letter-spacing: 1px;
}

.navigation-bar {
    background: linear-gradient(135deg, #fec656 0%, #f58e5c 100%);
    color: $white;
    border: none;

    .navigation-bar__title,
    .toolbar-button {
        color: inherit;

        i {
            vertical-align: middle;
        }
    }
}

.button {
    border: none;
    background: none;
    border-radius: 5px;
    color: $lightBg;
    text-align: center;
    line-height: 2.5em;
    display: block;
    letter-spacing: 2px;

    &.button--main {
        background: $lightBg;
        color: white;
        font-size: 0.9em;
        margin-top: 2em;
        text-transform: uppercase;
    }

    &.button--delete {
        color: darkred;
        font-size: 0.9em;
        margin-top: 0.4em;
        background: none;
        border: none;
    }
}

.list .list-item {
    padding: 8px 12px;
    overflow: hidden;

    .list-item__left {
        float: left;
    }

    .list-item__right {
        float: right;
        color: #999999;
        font-size: 0.8em;
        line-height: 1.6em;
    }

    input {
        width: 100%;

        &[type=number] {
            color: #999999;
            font-size: 1em;
            margin: 0;
            padding: 0;
            line-height: 17px;
            display: inline-block;
            height: 1.5em;

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none !important;
                margin: 0 !important;
                -moz-appearance:textfield !important;
            }
        }
    }

    select {
        color: #999999;
        font-size: 1em;
        margin: 0;
        padding: 0;
        line-height: 17px;
        display: inline-block;
        height: 1.5em;
        background: none;
        border: 0;
        width: 100%;
    }

    &.list-item--label {
        color: #999999;
        font-size: 0.8em;

        .list-item__label {
            color: #1f1f21;
            font-size: 1rem;
        }
    }
}