.page--homepage {
    .page__background {
        background-image: url('../assets/bg.jpg');
        background-size: cover;
        background-position: center;

        &:after {
            background: #333;
            background: linear-gradient(135deg, rgba(247,168,4,0.3) 0%, rgba(233,86,14,0.73) 100%);
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    .page__content {
        .logo {
            position: absolute;
            top: 30%;
            left: 50%;
            margin-left: -35%;
            text-align: center;
            width: 70%;

            img {
                max-width: 100%;
            }
        }

        .actions {
            padding: 1em;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            .button {
                display: inline-block;
                width: 80%;
                background: $lightBg;
                color: white;
                border: 0;
                text-transform: uppercase;

                &.button--help {
                    width: 15%;
                    text-align: center;
                    background: rgba(255,255,255, 0.2);
                    color: white;
                    margin-left: 3%;
                }
            }
        }
    }
}