@font-face {
  font-family: 'icomoon';
  src:  url('.../fonts/icomoon.eot?knj7yo');
  src:  url('../fonts/icomoon.eot?knj7yo#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?knj7yo') format('truetype'),
    url('../fonts/icomoon.woff?knj7yo') format('woff'),
    url('../fonts/icomoon.svg?knj7yo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
  content: "\e90b";
}
.icon-menu:before {
  content: "\e900";
}
.icon-menu-bars:before {
  content: "\e90c";
}
.icon-back:before {
  content: "\e902";
}
.icon-forward:before {
  content: "\e903";
}
.icon-flag:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e905";
}
.icon-message:before {
  content: "\e906";
}
.icon-user:before {
  content: "\e907";
}
.icon-users:before {
  content: "\e908";
}
.icon-settings:before {
  content: "\e909";
}
.icon-play:before {
  content: "\e90a";
}
