$gradient1: linear-gradient(135deg, rgba(247,168,4,0.7) 0%, rgba(233,86,14,0.73) 100%);
$gradient2: linear-gradient(135deg, rgba(195, 20, 50, 0.5), rgba(36, 11, 54, 0.7));
$gradient3: linear-gradient(135deg, rgb(55, 236, 186), rgb(114, 175, 211));
$gradient4: linear-gradient(135deg, #48c6ef 0%, #6f86d6 100%);

.page--menu {

    .navigation-bar__right .toolbar-button span {
        font-size: 2em;
    }

    h2 {
        font-size: 1.4rem;
        margin-left: 2vw;
        margin-bottom: 0.3em;
        font-weight: normal;
    }

    .routines {
        margin-top: 2em;
        margin-bottom: 3em;

        ons-carousel {
            // margin: 1vw;

            ons-carousel-item {
                > div {
                    margin: 0 2vw;

                    .card {
                        width: 100%;
                        border-radius: 6px;
                        overflow: hidden;

                        color: white;
                        padding: 2vw;

                        position: relative;

                        &::before {
                            background: $gradient1;
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            z-index: -1;
                        }

                        .icon-settings {
                            position: absolute;
                            top: 0;
                            right: 0;
                            padding: 10px;
                        }

                        .card-meta {
                            list-style: none;
                            margin: 0;
                            padding: 0;
                            font-size: 0.9em;

                            li {
                                margin-bottom: 3px;
                            }
                        }

                        .card-footer {
                            position: absolute;
                            left: 2vw;
                            bottom: 2vw;
                            font-size: 0.9em;

                            h3 {
                                font-size: 1.1em;
                                margin: 0;
                            }
                        }
                    }
                }

                &:nth-child(2n) > div .card::before {
                    background: $gradient2;
                }
                &:nth-child(3n) > div .card::before {
                    background: $gradient3;
                }
                &:nth-child(4n) > div .card::before {
                    background: $gradient4;
                }
            }
        }

        &.routines--personal {
            .card,
            ons-carousel {
                height: 35vw;

                .card {
                    font-size: 0.9em;
                }
            }
        }

        &.routines--expert {
            .card,
            ons-carousel {
                height: 55vw;

                .card {
                    background-size: auto 100%;
                    background-position: bottom left;
                    background-repeat: no-repeat;

                    text-align: right;

                    .card-footer {
                        left: auto;
                        right: 2vw;

                        h3 {
                            font-size: 1.3em;
                        }
                    }
                }
            }
        }
    }

    .stats {
        margin-top: 2em;
        padding-top: 1em;
        padding-bottom: 1em;
        background: $gradient2;
        color: white;

        .stats-content {
            display: flex;
            margin: 1em 0;

            > div {
                flex: 1 1 auto;
                text-align: center;
                font-size: 0.9em;

                h2 {
                    font-size: 2.5em;
                    margin: 0;

                    span {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }

}