.page--routine-details {
    .routine-header {
        height: 30vh;
        background-color: $lightBg;
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .routine-details {
        margin: 1em;

        h2 {
            margin-top: 0;
            margin-bottom: 0.3em;
            font-weight: normal;
        }

        p {
            margin-top: 0;
            margin-bottom: 1em;
        }

        table {
            width: 100%;
            margin-top: 1.5em;

            th {
                text-align: left;
                font-weight: normal;
            }
        }
    }
}