.page--routine-edit {
    .time-input {
        width: 40%;
        margin: 0 auto;
        background: white;
        overflow: hidden;
        color: #555;
        padding: 2% 8%;

        & > div {
            width: 50%;
            float: left;

            & > div {
                font-size: 0.6em;

                & > span {
                    font-size: 2.5em;
                    display: block;
                }
            }

            & > ons-icon {
                display: block;
                font-size: 2.5em;
            }
        }
    }
}


.page--hang-timer {

    .page__background {
        background: #848E8D;
        transition: 0.4s;
    }

    &.hang-timer--hang .page__background {
        background: #FF9F30;
    }

    &.hang-timer--rest .page__background {
        background: #FFB39E;
    }

    &.hang-timer--setrest .page__background {
        background: #67B899;
    }

    &.hang-timer--finished .page__background {
        background: #4AB502;
    }

    .page__content {
        color: $white;

        .end-timer {
            position: absolute;
            font-size: 17px;
            top: 10px;
            left: 10px;
            color: white;
            opacity: 0.7;
        }

        .timer {
            position: absolute;
            top: 30%;
            left: 0;
            right: 0;
            text-align: center;

            font-size: 6em;
            letter-spacing: 0.1em;
            line-height: 100px;

            &.timer--mintues {
                font-size: 4em;
            }

            span.message {
                display: block;
                font-size: 2.4rem;
                opacity: 0.7;
                padding-top: 10px;
                letter-spacing: 0;
            }

            ons-icon {
                opacity: 0.8;
            }
        }

        .footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            padding: 1em;
            opacity: 0.7;
            letter-spacing: 0.1em;

            span {
                font-size: 0.7em;
            }

            .timer-elapsed {
                float: left;
            }

            .timer-remaining {
                float: right;
                text-align: right;
            }
        }
    }
}