@font-face {
  font-family: 'icomoon';
  src: url(".../fonts/icomoon.eot?knj7yo");
  src: url("../fonts/icomoon.eot?knj7yo#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?knj7yo") format("truetype"), url("../fonts/icomoon.woff?knj7yo") format("woff"), url("../fonts/icomoon.svg?knj7yo#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-down:before {
  content: "\e90b"; }

.icon-menu:before {
  content: "\e900"; }

.icon-menu-bars:before {
  content: "\e90c"; }

.icon-back:before {
  content: "\e902"; }

.icon-forward:before {
  content: "\e903"; }

.icon-flag:before {
  content: "\e904"; }

.icon-search:before {
  content: "\e905"; }

.icon-message:before {
  content: "\e906"; }

.icon-user:before {
  content: "\e907"; }

.icon-users:before {
  content: "\e908"; }

.icon-settings:before {
  content: "\e909"; }

.icon-play:before {
  content: "\e90a"; }

html,
body {
  height: 100%; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Nunito', sans-serif;
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow: hidden;
  position: fixed; }
  body .page {
    font-family: 'Open Sans Condensed', sans-serif; }
  body .page__content {
    margin-top: 0; }

h1, h2, h3 {
  letter-spacing: 1px; }

.navigation-bar {
  background: linear-gradient(135deg, #fec656 0%, #f58e5c 100%);
  color: #F6F6F6;
  border: none; }
  .navigation-bar .navigation-bar__title,
  .navigation-bar .toolbar-button {
    color: inherit; }
    .navigation-bar .navigation-bar__title i,
    .navigation-bar .toolbar-button i {
      vertical-align: middle; }

.button {
  border: none;
  background: none;
  border-radius: 5px;
  color: #223B3D;
  text-align: center;
  line-height: 2.5em;
  display: block;
  letter-spacing: 2px; }
  .button.button--main {
    background: #223B3D;
    color: white;
    font-size: 0.9em;
    margin-top: 2em;
    text-transform: uppercase; }
  .button.button--delete {
    color: darkred;
    font-size: 0.9em;
    margin-top: 0.4em;
    background: none;
    border: none; }

.list .list-item {
  padding: 8px 12px;
  overflow: hidden; }
  .list .list-item .list-item__left {
    float: left; }
  .list .list-item .list-item__right {
    float: right;
    color: #999999;
    font-size: 0.8em;
    line-height: 1.6em; }
  .list .list-item input {
    width: 100%; }
    .list .list-item input[type=number] {
      color: #999999;
      font-size: 1em;
      margin: 0;
      padding: 0;
      line-height: 17px;
      display: inline-block;
      height: 1.5em; }
      .list .list-item input[type=number]::-webkit-inner-spin-button, .list .list-item input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none !important;
        margin: 0 !important;
        -moz-appearance: textfield !important; }
  .list .list-item select {
    color: #999999;
    font-size: 1em;
    margin: 0;
    padding: 0;
    line-height: 17px;
    display: inline-block;
    height: 1.5em;
    background: none;
    border: 0;
    width: 100%; }
  .list .list-item.list-item--label {
    color: #999999;
    font-size: 0.8em; }
    .list .list-item.list-item--label .list-item__label {
      color: #1f1f21;
      font-size: 1rem; }

.page--homepage .page__background {
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  background-position: center; }
  .page--homepage .page__background:after {
    background: #333;
    background: linear-gradient(135deg, rgba(247, 168, 4, 0.3) 0%, rgba(233, 86, 14, 0.73) 100%);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.page--homepage .page__content .logo {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -35%;
  text-align: center;
  width: 70%; }
  .page--homepage .page__content .logo img {
    max-width: 100%; }

.page--homepage .page__content .actions {
  padding: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }
  .page--homepage .page__content .actions .button {
    display: inline-block;
    width: 80%;
    background: #223B3D;
    color: white;
    border: 0;
    text-transform: uppercase; }
    .page--homepage .page__content .actions .button.button--help {
      width: 15%;
      text-align: center;
      background: rgba(255, 255, 255, 0.2);
      color: white;
      margin-left: 3%; }

.page--menu .navigation-bar__right .toolbar-button span {
  font-size: 2em; }

.page--menu h2 {
  font-size: 1.4rem;
  margin-left: 2vw;
  margin-bottom: 0.3em;
  font-weight: normal; }

.page--menu .routines {
  margin-top: 2em;
  margin-bottom: 3em; }
  .page--menu .routines ons-carousel ons-carousel-item > div {
    margin: 0 2vw; }
    .page--menu .routines ons-carousel ons-carousel-item > div .card {
      width: 100%;
      border-radius: 6px;
      overflow: hidden;
      color: white;
      padding: 2vw;
      position: relative; }
      .page--menu .routines ons-carousel ons-carousel-item > div .card::before {
        background: linear-gradient(135deg, rgba(247, 168, 4, 0.7) 0%, rgba(233, 86, 14, 0.73) 100%);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1; }
      .page--menu .routines ons-carousel ons-carousel-item > div .card .icon-settings {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px; }
      .page--menu .routines ons-carousel ons-carousel-item > div .card .card-meta {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 0.9em; }
        .page--menu .routines ons-carousel ons-carousel-item > div .card .card-meta li {
          margin-bottom: 3px; }
      .page--menu .routines ons-carousel ons-carousel-item > div .card .card-footer {
        position: absolute;
        left: 2vw;
        bottom: 2vw;
        font-size: 0.9em; }
        .page--menu .routines ons-carousel ons-carousel-item > div .card .card-footer h3 {
          font-size: 1.1em;
          margin: 0; }
  .page--menu .routines ons-carousel ons-carousel-item:nth-child(2n) > div .card::before {
    background: linear-gradient(135deg, rgba(195, 20, 50, 0.5), rgba(36, 11, 54, 0.7)); }
  .page--menu .routines ons-carousel ons-carousel-item:nth-child(3n) > div .card::before {
    background: linear-gradient(135deg, #37ecba, #72afd3); }
  .page--menu .routines ons-carousel ons-carousel-item:nth-child(4n) > div .card::before {
    background: linear-gradient(135deg, #48c6ef 0%, #6f86d6 100%); }
  .page--menu .routines.routines--personal .card,
  .page--menu .routines.routines--personal ons-carousel {
    height: 35vw; }
    .page--menu .routines.routines--personal .card .card,
    .page--menu .routines.routines--personal ons-carousel .card {
      font-size: 0.9em; }
  .page--menu .routines.routines--expert .card,
  .page--menu .routines.routines--expert ons-carousel {
    height: 55vw; }
    .page--menu .routines.routines--expert .card .card,
    .page--menu .routines.routines--expert ons-carousel .card {
      background-size: auto 100%;
      background-position: bottom left;
      background-repeat: no-repeat;
      text-align: right; }
      .page--menu .routines.routines--expert .card .card .card-footer,
      .page--menu .routines.routines--expert ons-carousel .card .card-footer {
        left: auto;
        right: 2vw; }
        .page--menu .routines.routines--expert .card .card .card-footer h3,
        .page--menu .routines.routines--expert ons-carousel .card .card-footer h3 {
          font-size: 1.3em; }

.page--menu .stats {
  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  background: linear-gradient(135deg, rgba(195, 20, 50, 0.5), rgba(36, 11, 54, 0.7));
  color: white; }
  .page--menu .stats .stats-content {
    display: flex;
    margin: 1em 0; }
    .page--menu .stats .stats-content > div {
      flex: 1 1 auto;
      text-align: center;
      font-size: 0.9em; }
      .page--menu .stats .stats-content > div h2 {
        font-size: 2.5em;
        margin: 0; }
        .page--menu .stats .stats-content > div h2 span {
          font-size: 1.1rem; }

.page--routine-details .routine-header {
  height: 30vh;
  background-color: #223B3D;
  background-size: cover;
  background-position: center;
  position: relative; }

.page--routine-details .routine-details {
  margin: 1em; }
  .page--routine-details .routine-details h2 {
    margin-top: 0;
    margin-bottom: 0.3em;
    font-weight: normal; }
  .page--routine-details .routine-details p {
    margin-top: 0;
    margin-bottom: 1em; }
  .page--routine-details .routine-details table {
    width: 100%;
    margin-top: 1.5em; }
    .page--routine-details .routine-details table th {
      text-align: left;
      font-weight: normal; }

.page--routine-edit .time-input {
  width: 40%;
  margin: 0 auto;
  background: white;
  overflow: hidden;
  color: #555;
  padding: 2% 8%; }
  .page--routine-edit .time-input > div {
    width: 50%;
    float: left; }
    .page--routine-edit .time-input > div > div {
      font-size: 0.6em; }
      .page--routine-edit .time-input > div > div > span {
        font-size: 2.5em;
        display: block; }
    .page--routine-edit .time-input > div > ons-icon {
      display: block;
      font-size: 2.5em; }

.page--hang-timer .page__background {
  background: #848E8D;
  transition: 0.4s; }

.page--hang-timer.hang-timer--hang .page__background {
  background: #FF9F30; }

.page--hang-timer.hang-timer--rest .page__background {
  background: #FFB39E; }

.page--hang-timer.hang-timer--setrest .page__background {
  background: #67B899; }

.page--hang-timer.hang-timer--finished .page__background {
  background: #4AB502; }

.page--hang-timer .page__content {
  color: #F6F6F6; }
  .page--hang-timer .page__content .end-timer {
    position: absolute;
    font-size: 17px;
    top: 10px;
    left: 10px;
    color: white;
    opacity: 0.7; }
  .page--hang-timer .page__content .timer {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 6em;
    letter-spacing: 0.1em;
    line-height: 100px; }
    .page--hang-timer .page__content .timer.timer--mintues {
      font-size: 4em; }
    .page--hang-timer .page__content .timer span.message {
      display: block;
      font-size: 2.4rem;
      opacity: 0.7;
      padding-top: 10px;
      letter-spacing: 0; }
    .page--hang-timer .page__content .timer ons-icon {
      opacity: 0.8; }
  .page--hang-timer .page__content .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
    opacity: 0.7;
    letter-spacing: 0.1em; }
    .page--hang-timer .page__content .footer span {
      font-size: 0.7em; }
    .page--hang-timer .page__content .footer .timer-elapsed {
      float: left; }
    .page--hang-timer .page__content .footer .timer-remaining {
      float: right;
      text-align: right; }

.page--about .page__content {
  padding: 0px 1.5em; }
  .page--about .page__content h2 {
    margin: 1.2em 0px 0px; }
