<ons-page modifier="about">
    <ons-toolbar fixed-style>
        <div class="left"><ons-toolbar-button ng-click="navigation.popPage({ animation: 'lift' })"><ons-icon class="ion-close-round"></ons-icon></ons-toolbar-button></div>
        <div class="center">Climbing Clinic</div>
    </ons-toolbar>

    <div class="page__content">

        <h2>What is this app for?</h2>
        <p>
            Reached a plateau in your climbing? Want to reach to the next level? Do you want to get stronger, climb grades harder, stand on the podium? Experienced coach Joe Ward is here and ready to help you move through your plateau to achieve your climbing goals. For those who take their climbing seriously.
        </p>

        <h2>What is the Climbing Clinic?</h2>
        <p>
            The Climbing Clinic has been founded on the principles of awareness, excellence and enjoyment. It provides a place for climbers to seek the input of a professional coach and a platform from which initiatives can be launched to increase the engagement of professional climbing coaches. The Climbing Clinic is also a gateway for coaches that are able to lead climbers to their full potential, removing barriers and helping climbers to be the best climber they can be.
        </p>

    </div>
</ons-page>