<ons-page modifier="homepage" ng-init="app.getMostPopular()">
    <div class="page__content">

        <div class="logo">
            <img src="assets/logo.svg"/>
        </div>
        <div class="actions">
            <a class="button" ng-click="navigation.pushPage('menu.html')">Hang timer</a>
            <a class="button button--help"  ng-click="navigation.pushPage('about.html', {animation: 'lift'})">?</a>
        </div>

    </div>
</ons-page>