<ons-page modifier="menu">
    <ons-toolbar fixed-style>
        <div class="left"><ons-toolbar-button ng-click="navigation.popPage()"><i class="icon-back"></i></ons-toolbar-button></div>
        <div class="center">Hang timer</div>
        <div class="right" ><ons-toolbar-button ng-click="newRoutine()">+</ons-toolbar-button></div>
    </ons-toolbar>

    <div class="page__content">

        <div class="routines routines--personal" ng-if="routines.length">
            <h2>Your workouts</h2>
            <ons-carousel swipeable overscrollable auto-refresh item-width="40%">
                <ons-carousel-item ng-repeat="routine in routines track by $index" ng-click="start(routine)">
                    <div>
                        <div class="card">
                            <i ng-click="editRoutine($event, $index)" class="icon-settings"></i>
                            <ul class="card-meta">
                                <li>{{ getDuration(routine) }} mins</li>
                                <li>{{ routine.sets }} sets</li>
                            </ul>
                            <div class="card-footer">
                                <h3>{{ routine.title }}</h3>
                            </div>
                        </div>
                    </div>
                </ons-carousel-item>
            </ons-carousel>
        </div>

        <div class="routines routines--expert" ng-if="expertRoutines.length">
            <h2>From the experts</h2>
            <ons-carousel swipeable overscrollable auto-refresh item-width="90%">
                <ons-carousel-item ng-repeat="routine in expertRoutines track by $index" ng-click="details(routine)">
                    <div>
                        <div class="card" style="background-image: url({{ routine.background }})">
                            <ul class="card-meta">
                                <li>{{ getDuration(routine) }} mins</li>
                                <li>{{ routine.sets }} sets</li>
                            </ul>
                            <div class="card-footer">
                                <h3>{{ routine.title }}</h3>
                                {{ routine.byline }}
                            </div>
                        </div>
                    </div>
                </ons-carousel-item>
            </ons-carousel>
        </div>

        <div class="stats">
            <h2>Statistics</h2>
            <div class="stats-content">
                <div>
                    <h2>5<span> days</span></h2>
                    current streak
                </div>
                <div>
                    <h2>5<span> mins</span></h2>
                    today
                </div>
                <div>
                    <h2>2<span> hours</span></h2>
                    this week
                </div>
            </div>
        </div>

    </div>
</ons-page>