<ons-page modifier="routine-edit">
    <ons-toolbar fixed-style>
        <div class="left"><ons-toolbar-button ng-click="navigation.popPage()"><ons-icon class="ion-close-round"></ons-icon></ons-toolbar-button></div>
        <div class="center">Edit routine</div>
        <div class="right"></div>
    </ons-toolbar>

    <div class="page__content">

    	<div class="setup">
            <ul class="list">
                <li class="list-item">
                    <input type="text" class="text-input text-input--transparent" placeholder="Title" ng-model="editing.title"/>
                </li>
            </ul>
            <br/>
            <ul class="list">
                <li class="list-item list-item--tappable list-item--label" ng-click="timeInput.show('set', 'hang')">
                    <div class="list-item__left">
                        <div class="list-item__label">Hang time</div>
                        {{ editing.set.hang|clockValue }}
                    </div>
                </li>
                <li class="list-item list-item--tappable list-item--label" ng-click="timeInput.show('set', 'rest')">
                    <div class="list-item__left">
                        <div class="list-item__label">Rest between repetitions</div>
                        {{ editing.set.rest|clockValue }}
                    </div>
                </li>
                <li class="list-item list-item--tappable list-item--label" focus-input>
                    <div class="list-item__left">
                        <div class="list-item__label">Repetitions</div>
                        <input type="number" class="text-input text-input--transparent" placeholder="0" ng-model="editing.set.reps"/>
                    </div>
                </li>
            </ul>
            <br/>
            <ul class="list">
                <li class="list-item list-item--tappable list-item--label" focus-input>
                    <div class="list-item__left">
                        <div class="list-item__label">Sets per session</div>
                        <input type="number" class="text-input text-input--transparent" placeholder="0" ng-model="editing.sets"/>
                    </div>
                </li>
                <li class="list-item list-item--tappable list-item--label" ng-click="timeInput.show('rest')">
                    <div class="list-item__left">
                        <div class="list-item__label">Rest between sets</div>
                        {{ editing.rest|clockValue }}
                    </div>
                </li>
            </ul>
            <!-- <br/>
            <ul class="list">
                <li class="list-item list-item--tappable list-item--label" focus-input>
                    <div class="list-item__left">
                        <div class="list-item__label">Hang sound</div>
                        <select ng-model="editing.hangBell" ng-change="playSound(editing.hangBell)">
                            <option value=''>None</option>
                            <option value="beep">Beep</option>
                            <option value="bell">Bell</option>
                            <option value="buzzer">Buzzer</option>
                            <option value="horn">Horn</option>
                            <option value="tone">Tone</option>
                        </select>
                    </div>
                </li>
                <li class="list-item list-item--tappable list-item--label">
                    <div class="list-item__left">
                        <div class="list-item__label">Rest sound</div>
                        <select ng-model="editing.restBell" ng-change="playSound(editing.restBell)">
                            <option value=''>None</option>
                            <option value="beep">Beep</option>
                            <option value="bell">Bell</option>
                            <option value="buzzer">Buzzer</option>
                            <option value="horn">Horn</option>
                            <option value="tone">Tone</option>
                        </select>
                    </div>
                </li>
            </ul> -->

        </div>

        <div class="button button--main" ng-click="saveRoutine()">Save</div>
        <div class="button button--delete" ng-click="deleteRoutine()" ng-show="editingID >= 0">Delete</div>

        <ons-modal var="timeInputModal" ng-click="timeInput.hide()">
            <div class="time-input" ng-click="$event.stopPropagation()">
                <div>
                    <ons-icon class="ion-chevron-up" ng-click="timeInput.minutesUp()"></ons-icon>
                    <div><span>{{ timeInput.minutes|counterValue }}</span>minutes</div>
                    <ons-icon class="ion-chevron-down" ng-click="timeInput.minutesDown()"></ons-icon>
                </div>
                <div>
                    <ons-icon class="ion-chevron-up" ng-click="timeInput.secondsUp()"></ons-icon>
                    <div><span>{{ timeInput.seconds|counterValue }}</span>seconds</div>
                    <ons-icon class="ion-chevron-down" ng-click="timeInput.secondsDown()"></ons-icon>
                </div>
            </div>
        </ons-modal>

    </div>
</ons-page>