<ons-page modifier="routine-details" ng-init="routine = navigation.pages[navigation.pages.length-1].options.data.routine">
    <ons-toolbar fixed-style>
        <div class="left"><ons-toolbar-button ng-click="navigation.popPage()"><ons-icon class="ion-close-round"></ons-icon></ons-toolbar-button></div>
        <div class="center">Climbing Clinic</div>
    </ons-toolbar>

    <div class="page__content">
        <div class="routine-header" style="background-image: url({{ routine.hero }})" ng-if="routine.hero"></div>

        <div class="routine-details">
            <h2>{{ routine.title }}</h2>
            <div ng-bind-html="routine.description | safe"></div>


            <table>
                <tr>
                    <th>Hang</th>
                    <th>Rest</th>
                    <th>Reps</th>
                    <th>Recover</th>
                    <th>Sets</th>
                </tr>
                <tr>
                    <td>{{ routine.set.hang | clockValue }}</td>
                    <td>{{ routine.set.rest | clockValue }}</td>
                    <td>{{ routine.set.reps }}</td>
                    <td>{{ routine.rest | clockValue }}</td>
                    <td>{{ routine.sets }}</td>
                </tr>
            </table>

            <a class="button button--main" ng-click="start(routine)">Start</a>
            <a class="button" ng-click="saveExpertRoutine(routine)">Add to your workouts</a>
        </div>
    </div>
</ons-page>