<ons-page modifier="hang-timer" class="page page--hang-timer hang-timer--{{ session.current.type }}" ng-device-backbutton="stop(); navigation.popPage()">
    <div class="page__content">

        <div class="end-timer" ng-click="stop(); navigation.popPage()"><i class="icon-back"></i></div>

        <div class="timer" ng-class="{'timer--mintues': session.timer.minutes > 0}" ng-hide="session.finished">
            {{ session.timer.minutes|counterValue }}:{{ session.timer.seconds|counterValue }}
            <span class="message">{{ session.current.text }}</span>
        </div>

        <div class="timer" ng-show="session.finished">
            <ons-icon class="ion-happy-outline"></ons-icon>
            <span>finished</span>
        </div>

        <div class="footer">
            <div class="timer-elapsed">{{ session.timer.elapsed.minutes|counterValue }}:{{ session.timer.elapsed.seconds|counterValue }}<br/><span>total</span></div>
            <div class="timer-remaining" ng-hide="session.finished">{{ session.timer.remaining.minutes|counterValue }}:{{ session.timer.remaining.seconds|counterValue }}<br/><span>remaining</span></div>
        </div>

    </div>
</ons-page>